.body {
    position: absolute; 
    width: 100%;
    height: 100%;
}
#app {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center; 
    color: #2c3e50;
}

