<template>
<div>
   <sideNav/>
   <googleMap/>
</div>
</template>

<script>
import sideNav from '@/components/sideNav.vue';
import googleMap from '@/components/googleMap.vue';
export default {
  components: {
    sideNav, 
    googleMap
  }
}
</script>
