<template>
<div>
  <div class="google-map" id="map"></div>
  
        <div id="buttons">
          
                <b-button :pressed.sync="satteliteActive" class="map-buttons" @click="satteliteMapButton()">Sattelite</b-button>
                <b-button :pressed.sync="trafficActive" class="map-buttons" id="trafficToggle">Traffic</b-button>
                <b-button :pressed.sync="transitActive" class="map-buttons" id="transitToggle">Transit</b-button>
                <b-button :pressed.sync="btaActive" class="map-buttons" id="btaToggle">BTA</b-button>
                <b-button :pressed.sync="radiusActive" class="map-buttons" id="radiusToggle">Radius Tool</b-button>
                <b-button class="map-buttons" @click="resetCenter()">Reset Center</b-button>
                <b-button :pressed.sync="markersActive" variant="secondary" class="map-buttons"  id="toggleMarkers" @click="toggleMarkers()">Add Marker</b-button>        
        </div>
</div>
</template>

<script>
import { MarkerClusterer } from "@googlemaps/markerclusterer";
import axios from 'axios';
export default {
  props: {
    center: {
      type: Object,
      default: () => ({ lat: 39.50, lng: -98.35 })
    },
    zoom: {
      type: Number,
      default: 4.825
    },
    streetViewControl: {
      type: Boolean,
      default: true
    },
    mapTypeId: {
      type: String,
      default: "roadmap"
    },
    mapTypeControl: {
      type: Boolean,
      default: true
    },
    fullscreenControl: {
      type: Boolean,
      default: true
    },
    zoomControl: {
      type: Boolean,
      default: true
    },  
  },

  data() {
    return {
      satteliteActive: false,
      trafficActive: false,
      transitActive: false,
      btaActive: false,
      radiusActive: false,
      markersActive: false,
      map: null,
      marker: null,
      infowindow: null,
      markers: [],
      newMarkers: [],
      isDropMarkers: false,
      google: window.google,
      info: null,
    };
  },
  watch: {
    center() {
      this.resetCenter();
    }
  },
  created() {
  },
  mounted() {
    this.initMap();
    axios
      .get('http://localhost:8080/server/codersTool.json')
      .then(response => {
        this.info = response.data;
      })
  },
  methods: {
    initMap() {
      this.map = new this.google.maps.Map(document.getElementById("map"), {
        disableDefaultUI: false,
        center: this.center,
        zoom: this.zoom,
        streetViewControl: this.streetViewControl,
        mapTypeId: this.mapTypeId,
        mapTypeControl: this.mapTypeControl,
        fullscreenControl: this.fullscreenControl,
        zoomControl: this.zoomControl,
      });
      //traffic layer toggle feature
      var trafficLayer;
      let map = this.map;
      function toggleTraffic() {
        if(trafficLayer.getMap() == null) {
          trafficLayer.setMap(map);
        } else { 
          trafficLayer.setMap(null);            
          }
      }
      trafficLayer = new this.google.maps.TrafficLayer();
      document.getElementById("trafficToggle").addEventListener("click", toggleTraffic);

      //transit layer toggle feature
      var transitLayer;
      function toggleTransit() {
        if(transitLayer.getMap() == null) {
          transitLayer.setMap(map);
        } else { 
          transitLayer.setMap(null);            
          }
      }
      transitLayer = new this.google.maps.TransitLayer();
      document.getElementById("transitToggle").addEventListener("click", toggleTransit);

      //BTA overlay toggle feature
      var btaOverlay;
      btaOverlay =  new this.google.maps.Data();
      btaOverlay.loadGeoJson('http://localhost:8080/server/basicTradeArea.json');
      function toggleBta() {
        if(btaOverlay.getMap() == null) {
          btaOverlay.setMap(map);
        } else { 
          btaOverlay.setMap(null);            
          }
      }
      btaOverlay.setStyle({
        fillColor: 'purple',
        strokeColor: 'purple',
        strokeWeight: 1,
         });  
      
      btaOverlay.addListener('mouseover', function(event) {
        let name = event.feature.getProperty('NAME');
        let ALAND = event.feature.getProperty('ALAND');
        let countyID = event.feature.getProperty('CNTYIDFP');
        let FUNCSTAT = event.feature.getProperty('FUNCSTAT');
        let LSAD = event.feature.getProperty('LSAD');
        let METDIVFP = event.feature.getProperty('METDIVFP');
        let CLASSFP = event.feature.getProperty('CLASSFP');
        let AWATER = event.feature.getProperty('AWATER');
        let CSAFP = event.feature.getProperty('CSAFP');
        let BTA = event.feature.getProperty('BTA');
        let COUNTYFP = event.feature.getProperty('COUNTYFP');
        let CBSAFP = event.feature.getProperty('CBSAFP');
        let MTFCC = event.feature.getProperty('MTFCC');
        let NAMELSAD = event.feature.getProperty('NAMELSAD');
        let STATEFP = event.feature.getProperty('STATEFP');
        let COUNTYNS = event.feature.getProperty('COUNTYNS');
        let content = '<div class="btaInfo">' + 'Name: ' + name + '<br>' + 'ALAND: ' + ALAND + '<br>' + 
        'County ID: ' + countyID + '<br>' + 'FUNCSTAT: ' + FUNCSTAT + '<br>' + 'LSAD: ' + LSAD + '<br>' + 
        'METDIVFP: ' + METDIVFP + '<br>' + 'CLASSFP: ' + CLASSFP + '<br>' + 'AWATER: ' + AWATER + '<br>' + 
        'CSAFP: ' + CSAFP + '<br>' + 'BTA: ' + BTA + '<br>' + 'COUNTYFP: ' + COUNTYFP + '<br>' + 
        'CBSAFP: ' + CBSAFP + '<br>' + 'MTFCC: ' + MTFCC + '<br>' + 'NAMELSAD: ' + NAMELSAD + '<br>' + 
        'STATEFP: ' + STATEFP + '<br>' + 'COUNTYNS: ' + COUNTYNS + '</div>';
        infoWindow.setContent(content);
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
        btaOverlay.overrideStyle(event.feature, {
          fillOpacity: 0.5,
          strokeWeight: 5,
        });
      });
      btaOverlay.addListener('mouseout', function() {
        infoWindow.close();
        btaOverlay.revertStyle();
      });
      document.getElementById("btaToggle").addEventListener('click', toggleBta);
      
      
      //Drawing radius toggle feature
      var radiusTool;
      radiusTool = new this.google.maps.drawing.DrawingManager({
        drawingMode: this.google.maps.drawing.OverlayType.CIRCLE,
        drawingControl: false,
        drawingControlOptions: {
          position: this.google.maps.ControlPosition.TOP_CENTER,
          drawingModes: [
            this.google.maps.drawing.OverlayType.CIRCLE,
            this.google.maps.drawing.OverlayType.POLYLINE,
            ],
        },
        circleOptions: {
          fillColor: "purple",
          fillOpacity: 0.2,
          strokeWeight: 1,
          clickable: false,
          editable: true,
          zIndex: 1,
        }
      });
      function toggleRadius() {
        if(radiusTool.getMap() == null) {
          radiusTool.setMap(map);
        } else { 
          radiusTool.setMap(null);            
          }
      }
      document.getElementById("radiusToggle").addEventListener("click", toggleRadius);
      radiusTool.addListener('circlecomplete', function(circle) {
        circle.setMap(null);
      });

      // Create markers, InfoWindows, and MarkerClusterers.

      var infoWindow = new this.google.maps.InfoWindow({
        content: ""
          });

      // load marker data from json file
      const locations = [
        { lat: 30.56, lng: -94.09 },
        { lat: 38.99, lng: -77.23 },
        { lat: 44.12, lng: -89.08 },
        { lat: 31.67, lng: -82.56 },
        { lat: 31.98, lng: -93.74 },
        { lat: 35.00, lng: -85.65 },
        { lat: 39.98, lng: -93.74 },
        { lat: 41.89, lng: -95.67 },
        { lat: 39.08, lng: -98.28 },]
        
        const otherLocations = [
        { lat: 37.75, lng: -106.8 },
        { lat: 37.79, lng: -107.46 },
        { lat: 37.81, lng: -109.49 },
        { lat: 43.99, lng: -111.03 },
        { lat: 42.56, lng: -111.09 },
        { lat: 37.774785, lng: -111.51 },
        { lat: 37.774785, lng: -114.77 },
        { lat: 37.819616, lng: -115.45 },
        { lat: 38.330766, lng: -116.64 },
        { lat: 39.927193, lng: -116.11 },
      ];

      var markers = locations.map((position) => {
        const marker = new this.google.maps.Marker({
        position, map,
        icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
      });
      let markerContent = "'<div style='width:250px; height:400px,'><div style='float:left;'>" +
          "<img src='https://torchystacos.com/wp-content/uploads/1-60.png' style='padding:10px; width:125px; height:100px;'></div>" + 
          "<div style='float:right; padding:10px; width:125px; height:100px;'><b>Dealer Name</b><br/>123 Address<br/> City,State<br/>555-555-5555<br/>info@dealer.com<br/></div>" +
          "<div style='float:bottom; padding:10px; width:225px;'>" +
          "<p><b> Dealer Description </b></p>" +
          "<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna" +
          "aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." +
          "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." +
          "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>" +
          "</div></div>'";
      marker.addListener("click", () => {
        infoWindow.open(map, marker);
        infoWindow.setContent(markerContent);
      });
      map.addListener('click', () => {
        infoWindow.close();
      });
        return marker;
      });
      new MarkerClusterer({markers, map});
      
      this.markers = otherLocations.map((position) => {
        const marker = new this.google.maps.Marker({
        position, map,
        icon: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
      });
      let markerContent = "'<div style='width:250px; height:400px,'><div style='float:left;'>" +
          "<img src='https://torchystacos.com/wp-content/uploads/1-60.png' style='padding:10px; width:125px; height:100px;'></div>" + 
          "<div style='float:right; padding:10px; width:125px; height:100px;'><b>Dealer Name</b><br/>123 Address<br/> City,State<br/>555-555-5555<br/>info@dealer.com<br/></div>" +
          "<div style='float:bottom; padding:10px; width:225px;'>" +
          "<p><b> Dealer Description </b></p>" +
          "<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna" +
          "aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." +
          "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." +
          "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>" +
          "</div></div>'";
      marker.addListener("click", () => {
        infoWindow.open(map, marker);
        infoWindow.setContent(markerContent);
      });
      map.addListener('click', () => {
        infoWindow.close();
      });
        return marker;
      });
      new MarkerClusterer({markers, map});


      map.data.loadGeoJson('http://localhost:8080/server/codersTool.json');
      map.data.setStyle(function(feature) {
      var NAME = feature.getProperty('name');
      var purpleMarker = 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
      var redMarker = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
      var yellowMarker = 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png';
      var ltblueMarker = 'http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png';
      var blueMarker = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
      var greenMarker = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
      var orangeMarker = 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png';
      var pinkMarker = 'http://maps.google.com/mapfiles/ms/icons/pink-dot.png';
      if (NAME == "dealer-one") {
        return {
          icon: purpleMarker
      };
      }
      if (NAME == "dealer-two") {
        return {
          icon: redMarker
        };
      }   
      if (NAME == "dealer-three") {
        return {
          icon: yellowMarker
        };
      }      
      if (NAME == "dealer-four") {
        return {
          icon: ltblueMarker
        };
      }
      if (NAME == "dealer-five") {
        return {
          icon: greenMarker
        };
      }
      if (NAME == "dealer-six") {
        return {
          icon: blueMarker
        };
      }
      if (NAME == "dealer-seven") {
        return {
          icon: orangeMarker
        };
      }
      if (NAME == "dealer-eight") {
        return {
          icon: pinkMarker
        };
      }
      }); 

      
      map.data.addListener('click', function(event) {
        var dealerContent = event.feature.getProperty('name');
        var dealerCoords = event.feature.getGeometry().get();
        new this.google.maps.InfoWindow({
          content: dealerContent + '<br/>' + dealerCoords
        });
          infoWindow.setPosition( dealerCoords );
          infoWindow.setContent(dealerContent + '<br/>' + dealerCoords);
          infoWindow.setOptions({pixelOffset: new this.google.maps.Size(0, -30)});
          infoWindow.open(map);
          }.bind(this));
      
      
     //click to add markers 
      let vm = this;
      map.addListener('click', function(e) {
      vm.placeMarker(e.latLng, map);
      });
      
       new MarkerClusterer({markers, map});    
  },
      placeMarker(position, map) {
        if(!this.isDropMarkers) {
          return;
        } else {
        new this.google.maps.Marker({
          position: position,
          map: map,
          icon: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
        });
        }
      },
      
      toggleMarkers() {
        this.isDropMarkers = !this.isDropMarkers;
        console.log(this.isDropMarkers);
        },
      // change map to sattelite
      satteliteMapButton() {
        if (this.map.getMapTypeId() === "satellite") {
          this.map.setMapTypeId("roadmap");
        } else {
          this.map.setMapTypeId("satellite");
        }
      },
      resetCenter() {
          this.map.panTo({ lat: this.center.lat, lng: this.center.lng, }),
          this.map.setZoom(this.zoom);
        },
      },
    };
    </script>

    <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    #map {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .mapcontainer {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    #buttons {
      position: absolute;
      align-content: center;
      height: 100px;
      width: 1000px;
      padding: 10px;
      right: 215px;
      bottom: 0;
      cursor: pointer;
      z-index: 910;
    }
    .map-buttons {  
      position: relative;
      margin-left: 5px;
      padding: .5rem 1.5rem;
      border: none;
      cursor: pointer;
      background: rgb(63, 63, 65);
      text-align: center;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 3px 3px 12px #303b46af;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
    }
    </style>