<template>
    <div>
        <div ref="sideNav" class="bm-menu">
            <nav class="bm-item-list">
                <div id="filer-type">
                    <form>
                    <label for="filter-type" col>Filter Type: </label>
                        <select name="dealers" id="dealers">
                            <option value="Company A">Company A</option>
                            <option value="Company B">Company B</option>
                            <option value="Company C">Company C</option>
                            <option value="Company D">Company D</option>
                        </select>
                    </form>
                </div>
                <div id="search">
                    <form>
                        <label for="filter-search">Filter Search:</label>
                        <input type="search" id="search" n>
                    </form>
                </div>
                <div id="filter-sales">
                    <form>
                        <label for="filter-sales"> Sales:</label>
                            <select name="dealers" id="sales">
                                <option value="Company A">$0-$100,000</option>
                                <option value="Company B">$100,001-$250,000</option>
                                <option value="Company C">$250,001-$500,000</option>
                                <option value="Company D">$500,001+</option>
                            </select><br>
                    </form>
                </div>
                <div id=markers-checkbox>
                    <ul>
                        <li>
                            <input type="checkbox" id="showmarkers col-sm-2" pull right checked>
                            <label for="show-markers"> Show Markers?</label>
                        </li>
                    </ul>
                </div>
                <h3>Company</h3>
                <div id="company-checkbox">
                    <ul>
                        <li>
                            <input type="checkbox" id="company-1" checked>
                            <label for="company-1"> Company 1</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-2" checked>
                            <label for="company-2"> Company 2</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-3" checked>
                            <label for="company-3"> Company 3</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-4" checked>
                            <label for="company-4"> Company 4</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-5" checked>
                            <label for="company-5"> Company 5</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-6" checked>
                            <label for="company-6"> Company 6</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/orange-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-7" checked>
                            <label for="company-7"> Company 7</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/pink-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-8" checked>
                            <label for="company-8"> Company 8</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-9" checked>
                            <label for="company-9"> Company 9</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-10" checked>
                            <label for="company-10"> Company 10</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-11" checked>
                            <label for="company-11"> Company 11</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" height="20" width="20">
                        </li>
                        <li>
                            <input type="checkbox" id="company-12" checked>
                            <label for="company-12"> Company 12</label>
                            <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" height="20" width="20">
                        </li>
                    </ul>
                </div>
                <slot>
                <button class="reset" onclick="reset">Reset Filters</button>
                </slot>
            </nav>
            <span class="bm-cross-button cross-style" @click="closeMenu" :class="{ hidden: !crossIcon }">
                <span v-for="(x, index) in 2" :key="x" class="bm-cross" :style="{ position: 'absolute', width: '3px', height: '14px',transform: index === 1 ? 'rotate(45deg)' : 'rotate(-45deg)'}">
                </span>
            </span>
        </div>

        <div ref="bmBurgerButton" class="bm-burger-button" @click="openMenu" :class="{ hidden: !burgerIcon }">
            <span class="bm-burger-bars line-style" :style="{top:20 * (index * 2) + '%'}" v-for="(x, index) in 3" :key="index"></span>
        </div>

    </div>
</template>

<script>
    export default {
      name: 'menuBar',
      data() {
        return {
          isSideBarOpen: false
        };
      },
      props: {
        isOpen: {
          type: Boolean,
          required: false
        },
        right: {
          type: Boolean,
          required: false
        },
        width: {
          type: [String],
          required: false,
          default: '300'
        },
        disableEsc: {
          type: Boolean,
          required: false
        },
        noOverlay: {
          type: Boolean,
          required: false
        },
        onStateChange: {
          type: Function,
          required: false
        },
        burgerIcon: {
          type: Boolean,
          required: false,
          default: true
        },
        crossIcon: {
          type: Boolean,
          required: false,
          default: true
        },
        disableOutsideClick: {
          type: Boolean,
          required: false,
          default: true
        },
        closeOnNavigation: {
          type: Boolean,
          required: false,
          default: false
        }
      },
      methods: {
        openMenu() {
          this.$emit('openMenu');
          this.isSideBarOpen = true;

          if (!this.noOverlay) {
            document.body.classList.add('bm-overlay');
          }
          if (this.right) {
            this.$refs.sideNav.style.left = 'auto';
            this.$refs.sideNav.style.right = '0px';
          }
          this.$nextTick(function() {
            this.$refs.sideNav.style.width = this.width
              ? this.width + 'px'
              : '350px';
          });
        },

        closeMenu() {
          this.$emit('closeMenu');
          this.isSideBarOpen = false;
          document.body.classList.remove('bm-overlay');
          this.$refs.sideNav.style.width = '0px';
        },

        closeMenuOnEsc(e) {
          e = e || window.event;
          if (e.key === 'Escape' || e.keyCode === 27) {
            this.closeMenu();
          }
        },
        documentClick(e) {
          let element = this.$refs.bmBurgerButton;
          let target = null;
          if (e && e.target) {
            target = e.target;
          }
          if (
            element &&
            element !== target &&
            !element.contains(target) &&
            !this.hasClass(target,'bm-menu') &&
            this.isSideBarOpen &&
            !this.disableOutsideClick
          ) {
            this.closeMenu();
          } else if (
            element &&
            this.hasClass(target,'bm-menu') &&
            this.isSideBarOpen &&
            this.closeOnNavigation
          ) {
            this.closeMenu();
          }
        },
        hasClass(element, className) {
          do {
            if (element.classList && element.classList.contains(className)) {
              return true;
            }
            element = element.parentNode;
          } while (element);
          return false;
        },
      },

      mounted() {
        if (!this.disableEsc) {
          document.addEventListener('keyup', this.closeMenuOnEsc);
        }
      },
      created: function() {
        document.addEventListener('click', this.documentClick);
      },
      unmounted: function() {
        document.removeEventListener('keyup', this.closeMenuOnEsc);
        document.removeEventListener('click', this.documentClick);
      },
      watch: {
        isOpen: {
          deep: true,
          immediate: true,
          handler(newValue, oldValue) {
            this.$nextTick(() => {
              if (!oldValue && newValue) {
                this.openMenu();
              }
              if (oldValue && !newValue) {
                this.closeMenu();
              }
            });
          }
        },
        right: {
          deep: true,
          immediate: true,
          handler(oldValue, newValue) {
            if (oldValue) {
              this.$nextTick(() => {
                this.$refs.bmBurgerButton.style.left = 'auto';
                this.$refs.bmBurgerButton.style.right = '36px';
                this.$refs.sideNav.style.left = 'auto';
                this.$refs.sideNav.style.right = '0px';
                document.querySelector('.bm-burger-button').style.left = 'auto';
                document.querySelector('.bm-burger-button').style.right = '36px';
                document.querySelector('.bm-menu').style.left = 'auto';
                document.querySelector('.bm-menu').style.right = '0px';
                document.querySelector('.cross-style').style.right='250px';
              });
            }
            if (newValue) {
              if (
                this.$refs.bmBurgerButton.hasAttribute('style')
              ) {
                this.$refs.bmBurgerButton.removeAttribute('style');
                this.$refs.sideNav.style.right = 'auto';
                document
                  .querySelector('.bm-burger-button')
                  .removeAttribute('style');
                document.getElementById('sideNav').style.right = 'auto';
                document.querySelector('.cross-style').style.right='0px';
              }
            }
          }
        }
      }
    };
</script>

<style>
    html {
      height: 1000%;
    }
    h1 {
        padding: 1em;
        color: #FFFFFF;
    }
    .bm-burger-button {
      position: absolute;
      width: 36px;
      height: 30px;
      left: 36px;
      top: 25px;
      cursor: pointer;
      z-index: 920;
    }
    .bm-burger-button.hidden {
      display: none;
    }
    .bm-burger-bars {
      background-color: #FFFFFF;
    }
    .line-style {
      position: absolute;
      height: 20%;
      left: 0;
      right: 0;
    }
    .cross-style {
      position: absolute;
      top: 25px;
      right: 2px;
      cursor: pointer
    }
    .bm-cross {
      background: #ffffff;
    }
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }
    .bm-cross-button.hidden {
      display: none;
    }
    .bm-menu {
      height: 100%; 
      width: 0;
      position: fixed; 
      z-index: 1000; 
      top: 0;
      left: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      background-color: rgb(63, 63, 65); 
      overflow-x: hidden;
      padding-top: 75px; 
      padding-bottom: 10px;
      transition: 0.5s; 
    }

    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }
    .bm-item-list {
      color: #ffffff;
      font-size: 12px;
      padding: 5px;
    }
    .bm-item-list > * {
      display: flex;
      text-decoration: none;
      padding: 5px;
    }
    .bm-item-list > * > span {
      font-weight: 500;
      color: white;
    }
    label {
      padding-bottom: 5px;
      display: inline-block;
      width: 90px;
      text-align: left;
    }
    input {
      display: inline-block;
      width: 140px;
      text-align: left; 
    }
    select {
      display: inline-block;
      width: 140px;
      text-align: left;
    }
    ul {
      padding: 5px;
      list-style:none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    button {  
      position: relative;
      margin-left: 35%;
      padding: 1rem 2rem;
      border: none;
      cursor: pointer;
      background: #FFFFFF;
      text-align: center;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      color: #636365;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
      
    }
</style>

